@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

$color-primary: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
$color-secondary:#00F3BB;
$color-font:#060A24;
$font-primary:'IBM Plex Sans', sans-serif;
$font-weight: 400;
$font-secondary: 'IBM Plex Mono', sans-serif;
$margin: 2rem 1.4rem;

